VITE_SUPABASE_URL=https://jnhquzslunrurtuxbciu.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpuaHF1enNsdW5ydXJ0dXhiY2l1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4MDI1ODQsImV4cCI6MjEwNTM3ODU4NH0.jxmumYekPr7voqfBsF0bz2pPnnjkrivXsUhXrvwjFS0

VITE_CLOUDINARY_CLOUD_NAME=dlvvzsyzv

VITE_CLOUDINARY_UPLOAD_PRESET=perpus_lasem